/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bs-dark:#000000;
  --bs-white:#FFFFFF;
  --bs-orange: #ffc455;
  --bs-lightblue: #00c8da;
  --bs-magenta:#ff517e;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.full-h{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.btn-secondary,
.btn-primary{
  width: 200px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  border-radius: 3rem;
  padding: 15px 0;
  transition: all .5s;
  transform: scale(1);
}

.btn-primary{
  border:1px solid var(--bs-orange);
  background: var(--bs-orange);
}

.btn-primary:hover{
  border:1px solid var(--bs-magenta);
  background: var(--bs-magenta);
  transform: scale(0.9);
}

.btn-secondary{
  border:1px solid var(--bs-magenta);
  background: var(--bs-magenta);
}

.btn-secondary:hover{
  border:1px solid var(--bs-orange);
  background: var(--bs-orange);
  transform: scale(0.9);
}

.filter{
  filter: blur(7px);
  -webkit-filter: blur(7px);
}